* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}


}
/* section {
  min-height: 500px;
  height: 80vh;
  background-color: white; */
  /* border: solid black 1px; */
}


  
}
.logo {
  width: 150px;
  height: 150px;
}



/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  color: #2C2C2C;
  width: 600px;
  justify-content: space-around;
  position: relative;
}

/* I made an attempt at adding a hover effect to the individual nav links. The underline croses the entire ul instead of individual links. Wasn't able to figure out why */

.nav-link {
  /* padding: 20px;  */
  text-decoration: none;
  color: #2C2C2C;
  font-weight: 600;
  
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Typography */


h1 {
  color: #2C2C2C;
  font-size: 96px;
  margin: 0;
  font-weight: 900;
}

h2 {
  font-size: 48px;
  margin: 0;
}

h3 {
  font-weight: 900;
  font-size: 40px;
  color:#F9766B;
  margin: 0;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  color: #2C2C2C;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  cursor: pointer;
}

p {
  font-size: 32px;
  font-weight: 500;
  color: #979797;
  margin: 0;
  
font-weight: 400;
}

/* Hero Section */
.hero {
  /* background-color: #1c1d25; */
  background-image: url(../Images/bg-vector.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 
  width: 100%;
  height: 90vh;
  color: white;
  font-size: 40px;
  padding-bottom: 32px;
  padding-left: 40px;
}

.hero-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  
  /* justify-content: space-between; */
  /* padding-top: 80px; */
}




/* .button {
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: aliceblue;
  text-align: center;
  color: #1c1d25; */
}

.button:hover {
  background-color: bisque;
}

.button:active {
  background-color: darkgray;
  color: aqua;
}

.social {
  margin: 16px;
}







/* Projects / Grid Areas */

.projects {
  margin-top: 72px;
  
  /* border: 1px solid black; */
  width: 100%;
  min-height: 500px;
  height: 80vh;
  display: grid;
  column-gap: 24px;
  grid-template-columns: 40px 65% 35%;
  grid-template-rows: 65% 35%;
}

/* .project-container {
  width: 100%;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 75% 25%; */
}

.grid-item {
  display: flex;
  background-position: center;
  background-size: cover;
  /* background-size: 100%; */
  background-repeat: no-repeat;
}
.image-container {
  background-image: url(../Images/STEAC\ screens.png);
  border-radius: 20px;
  grid-column: 2;
  grid-row: 1/span 2;
}

#subtext {
  font-size: 16px;
  font-weight: 400px;
  color: #979797;
  
  
}
.info {
  grid-column: 3;
  grid-row: 2;
  justify-content: center;
  width: 400px;

}

footer {
  height: 500px;
  background-color: #2C2C2C;
  margin-top: 80px;
}

/* Media Queries */

@media only screen and (max-width:600) {
  .projects {
    display: grid;
    grid-template-rows: repeat(5, 300px);
    grid-template-areas: 
    "image-container"
    "info";
  }
  .image-container {
    grid-area: image-container;
  }
  
  .info {
    grid-area: info;
  }
}

